*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    text-align: center;
}

.stile{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightskyblue;
    margin-top: 50px;
}

.container-img{
    margin-left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#formato{
    width: 100%;
    height: 100%;
}